@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Deshabilito el modo oscuro automático */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    /* mismo color que light */
    --foreground: #111111;
  }
}

/* Posicionar barra de carga debajo del header fijo */
#nprogress .bar {
  top: 65px !important;
  height: 2px !important;
  background: #000000 !important;
  z-index: 1031 !important;
}

/* Custom Animations */
@keyframes border-flow {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes gradient-xy {

  0%,
  100% {
    background-size: 400% 400%;
    background-position: left center;
  }

  50% {
    background-size: 200% 200%;
    background-position: right center;
  }
}

.animate-border-flow {
  animation: border-flow 3s linear infinite;
}

.animate-gradient-xy {
  animation: gradient-xy 6s ease infinite;
}